<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Eat-Da-Burger!</title>
		{{!-- BOOTSTRAP v4 --}}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		{{!-- BOOTSWATCH: Superhero --}}
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/superhero/bootstrap.min.css">
		{{!-- FONT AWESOME v5 --}}
   		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
		{{!-- CSS --}}
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		{{!-- JavaScript --}}
		<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	</head>
	<body>
		{{!-- Insert index.handlebars into body --}}
		{{{ body }}}

		{{!-- JavaScript --}}
		<script src="/assets/js/script.js"></script>
	</body>
</html>